/* specific fonts cannot be upload with @import, i put them in index*/

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family:'PT Serif', serif;
	font-size: 20px;
	font-weight: 400;
}

h1,h2,h3{
	font-family: 'Sansita', sans-serif;
	font-weight: 700;
}

a{
	text-decoration: none;
}
