.banner{
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2)50%) ,url(../../images/background.jpg);
	background-size: cover;
	background-position: center;
	color:white;
	padding: 150px 0px;
}

.banner h1{
	background-color: black;
	padding: 10px 20px;
	border-radius: 4px;
}

.banner h2{
	font-family: 'PT Serif', serif;
	font-weight: 400;
	margin-bottom: 40px;
	opacity: 0.9;
}